video {
    max-width: 100%;
  }
.zoom-effect {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.zoom-effect:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 25px rgba(0,0,0,0.15);
}